#certificate_list{
    display: grid;
    grid-template-columns: repeat(4,318px);
    list-style: none;
    gap: 10px;
    & > li{
        border: 1px solid rgba(168,179,207,0.2);
        background-color: #1C1F26;
        height: 344px;
        border-radius: 10px;
        padding: 21px 25px;
        position: relative;
        h3{
            word-break: break-word;
            font: 22px/30px sans-serif;
           
        }
        img{
            width: 100%;
            object-fit: contain;
            margin-bottom: 10px;
        }
        &:hover{
            border: 1px solid rgba(168,179,207,0.4);
        }
    }
}